.form
    background-color: cadetblue

    &__tech
        display: flex
        gap: 10px
        padding: 10px
        background-color: beige

        &-item
            height: 80px
            width: 80px

            border-radius: 50%

            background-color: black
            overflow: hidden
            cursor: pointer

            img
                height: 100%
                width: 100%

