.offer
    width: 100%

    display: flex
    align-items: center
    flex-wrap: wrap
    gap: 10px
    padding: 10px

    &__img
        width: 60px
        max-height: 40px
        object-fit: contain

    &__info
        flex-grow: 1
        display: grid
        grid-template-rows: auto auto
        gap: 5px

    &__salary
        font-size: 0.7rem
        font-weight: 600
        color: #32c432


.jjit-offer

    &__info
        flex-grow: 1
        display: grid
        grid-template-rows: auto auto
        gap: 5px

    &__salary
        font-size: 0.7rem
        font-weight: 600
        color: #32c432


.nfj-offer

    &__info
        flex-grow: 1
        display: grid
        grid-template-rows: auto auto
        gap: 5px

    &__salary
        font-size: 0.7rem
        font-weight: 600
        color: #32c432