$primary-color: white
$primary-color-darker: whitesmoke

$secondary-color: #0068b4
$secondary-color-lighter: #51a8e3

$width-breakpoint: 1000px

$main-gap: 15px

@mixin flex-center
    display: flex
    justify-content: center
    align-items: center