$primary-color: white
$primary-color-darker: whitesmoke

$secondary-color: #007cd7

$width-breakpoint: 1000px

$main-gap: 15px

@mixin flex-center
    display: flex
    justify-content: center
    align-items: center